# Brew
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

# Autocomplete
if type brew &>/dev/null; then
    HOMEBREW_PREFIX="$(brew --prefix)"
    for COMPLETION in "${HOMEBREW_PREFIX}/etc/bash_completion.d/"*; do
        [[ -r "${COMPLETION}" ]] && source "${COMPLETION}"
    done
fi

# Autocomplete workaround for tmux
if [[ -n "$TMUX" ]] && type brew &>/dev/null; then
    HOMEBREW_PREFIX="$(brew --prefix)"
    for COMPLETION in "${HOMEBREW_PREFIX}/etc/bash_completion.d/"*; do
        [[ -r "${COMPLETION}" ]] && source "${COMPLETION}"
    done
fi

