# Metasploit
podman-msf() {
    # if an argument is given to the function, use this as the name of the containers and persist the database container
    if [ "$1" ]; then

        # postgres
        sudo podman run \
            --security-opt label=disable \
            --name msf_"$1" \
            -p 127.0.0.1:5432:5432 \
            -e POSTGRES_PASSWORD=postgres \
            -e POSTGRES_USER=postgres \
            -e POSTGRES_DB="$1" \
            -d \
            docker.io/library/postgres:alpine

        # wait for db to fire up
        sleep 3

        # msfconsole
        sudo podman run \
            --security-opt label=disable \
            --privileged \
            --rm \
            -it \
            --network host \
            -v $HOME:$HOME \
            -v /tmp:/tmp \
            -e DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/"$1" \
            -e MSF_UID=0 \
            ghcr.io/sir-mudkip/metasploit:latest

    else

        # postgres
        sudo podman run \
            --name msf \
            --rm \
            -p 127.0.0.1:5432:5432 \
            -e POSTGRES_PASSWORD=postgres \
            -e POSTGRES_USER=postgres \
            -e POSTGRES_DB=msf \
            -d \
            docker.io/library/postgres:alpine

        # wait for db to fire up
        sleep 3

        # msfconsole
        sudo podman run \
            --security-opt label=disable \
            --privileged \
            --rm \
            -it \
            --network host \
            -v $HOME:$HOME \
            -v /tmp:/tmp \
            -e DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/msf \
            -e MSF_UID=0 \
            ghcr.io/sir-mudkip/metasploit:latest
    fi
}

podman-msf-connect() {
# connect to existing db e.g podman-mdf-connect customer1
    sudo podman run \
        --security-opt label=disable \
        --rm \
        -it \
        --network host \
        --privileged \
        -v /tmp:/tmp \
        -v $HOME:$HOME \
        -e DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/"$1" \
        -e MSF_UID=0  \
        ghcr.io/sir-mudkip/metasploit:latest
}


